@import "variables";
@import "mixin";
@import "base";
.at-input {
    .mui-input-row {
        margin: 15*@xem;
        background: #eee;
        border: 1*@xem #ccc solid;
        border-radius: 4*@xem;
    }
    label.b {
        &:before {
            content: "*";
            color: @red;
            float: left;
            margin-left: -6*@xem;
        }
    }
    .mui-input-row label~input[type=text] {
        background: @w;
    }
    .p15 {
        padding: 15*@xem;
    }
    .sub-btn {
        display: block;
        width: 100%;
    }
}
.at-list {
    li {
        margin-top: 40*@xem;
        background: #cce5c5;
        padding: 20*@xem 20*@xem 10*@xem;
        position: relative;
        
        .head-box{
            position: absolute;
                top: -20*@xem;
                background: @w;
                border-radius: 50%;
                display: inline-block;
            img{
                height: 40*@xem;
                width: 40*@xem;
                border: 2*@xem @w solid;
                border-radius: 50%;
                
            }
        }
        p{
            margin: 5*@xem 0;
            color: @title;
            &.blue{
                color: @blue;
            }
        }
        .bm-btn{
            position: absolute;
            right: 15*@xem;
            top: 50%;
            margin-top: -16*@xem;
        }
    }
}
.add-btn{
    height: 100%;
    border-radius: 0;
    height: 40*@xem;
    line-height: 40*@xem; 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0; 
    padding: 0;
}

.at-view{
    padding: 0 15*@xem;
    li{
        padding: 8*@xem 0;
        border-bottom: 1*@xem #eee solid;
        font-size: 14*@xem;
        label{
            display: inline-block;
            min-width: 70*@xem;
        }
    }
}
.view-box{
    margin: 15*@xem;
    background: #f0f0f0;
    padding: 10*@xem;
    font-size: 14*@xem;
    p{
        color: @blue;
    }
    .gray{
        color: #666666;
    }
    .mui-table-view{
        background: transparent;
    }
}
.user-box{
    text-align: center;
    li{
        display: inline-block;
        margin: 8*@xem;
        color: @blue;
        img{
            height: 30*@xem;
            width: 30*@xem;
            margin: 0 auto;
            border-radius: 50%;
            display: block;
        }
    }
}
.popover-title{
    height: 40*@xem;
    line-height: 40*@xem;
    text-align: center;
    color: @title;
    background: #f0f0f0;
}
.mui-popover.bw{
    background: @w;
}
.popover-content{
    margin: 20*@xem 10*@xem;
    position: relative;
    &.mui-col-2{
        column-gap: 20*@xem;
        -webkit-column-gap: 20*@xem;
        &:before{
            content: "";
            display: block;
            height: 100%;
            border-right: 1*@xem @green solid;
            position: absolute;
            left: 50%;
            top: 0;
            
        }
    }
    
    
}
