html {
  font: 14px STHeiti, Helvetica Neue, Heiti SC, Microsoft YaHei, Arial, Helvetica, sans-serif;
}
@media screen and (min-device-width: 360px) {
  html {
    font: 16px STHeiti, Helvetica Neue, Heiti SC, Microsoft YaHei, Arial, Helvetica, sans-serif;
  }
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  background: #33c354;
  height: 2.75rem;
  position: fixed;
  line-height: 2.75rem;
  color: #ffffff;
  left: 0;
  right: 0;
  text-align: center;
}
header h1 {
  font-size: 1rem;
  font-weight: normal;
}
.view.header {
  padding-top: 2.75rem;
}
.home-menu {
  font-size: 0;
}
.home-menu > div {
  padding: 0.5rem;
  font-size: 0.875rem;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  border-right: 0.0625rem #cccccc solid;
  border-bottom: 0.0625rem #cccccc solid;
  text-align: center;
}
.home-menu > div i {
  height: 2.5rem;
}
