@import "variables";
@import "mixin";
@import "base";
.bar-moment {
    margin: 8*@xem auto;
    text-align: center;
    width: 120*@xem;
    border: 1*@xem @w solid;
    border-radius: 6*@xem;
    overflow: hidden;
    font-size: 14*@xem;
    display: inline-block;
    right: 40px;
    left: 40px;
    position: absolute;
    a {
        color: @w;
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        height: 28*@xem;
        line-height: 28*@xem;
        &.cur {
            background: @w;
            color: @green;
        }
    }
}
.moment-box {
    position: relative;
    li {
        background: @w;
        margin-bottom: 10*@xem;
    }
    .m-btns {
        position: absolute;
        right: 15*@xem;
        top: 50%;
        margin-top: -15*@xem;
        .mui-btn {
            position: static;
        }
    }
    .content {
        position: relative;
        padding: 10*@xem;
        font-size: 14*@xem;
        min-height: 80*@xem;
        .info {
            position: absolute;
            right: 30*@xem;
            bottom: 10*@xem;
            font-size: 12*@xem;
            color: #ccc;
            span {
                margin-left: 10*@xem;
            }
        }
        .m-view {
            position: absolute;
            right: 10*@xem;
            top: 10*@xem;
            color: @green;
        }
    }
    .btn-list {
        padding: 10*@xem;
        border-top: 1*@xem #eee solid;
        font-size: 14*@xem;
        .mui-icon {
            font-size: 20*@xem;
            color: @green;
        }
    }
    .commons {
        border-top: 1*@xem #eee solid;
        padding: 5*@xem 10*@xem;
        font-size: 14*@xem;
    }
}
.team-a {
    padding: 10*@xem 0;
    img {
        width: 70*@xem;
        display: block;
    }
}
.gg {
    font-size: 12*@xem;
    color: #CCCCCC;
}
.add-box {
    padding: 10*@xem;
    textarea {
        background: #eee;
        padding: 10*@xem;
        width: 100%;
        min-height: 100*@xem;
        border: none;
    }
}
.upload-box {
    .uimg-box {
        display: inline-block;
        vertical-align: top;
        .preDiv {
            display: inline-flex;
            display: -webkit-inline-flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 90*@xem;
            height: 90*@xem;
            margin-bottom: 10*@xem;
            margin-right: 10*@xem;
            img{
                max-width: 90*@xem;
            }
        }
    }
    .upload-btn {
        display: inline-block;
        vertical-align: top;
        height: 90*@xem;
        width: 90*@xem;
        border: 3*@xem #ccc dotted;
        position: relative;
        overflow: hidden;
        font-size: 12*@xem;
        color: @green;
        .mui-icon {
            font-size: 60*@xem;
            display: block;
        }
        input {
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }
}
.bottom-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10*@xem;
}
