html {
  font: 14px STHeiti, Helvetica Neue, Heiti SC, Microsoft YaHei, Arial, Helvetica, sans-serif;
}
@media screen and (min-device-width: 360px) {
  html {
    font: 16px STHeiti, Helvetica Neue, Heiti SC, Microsoft YaHei, Arial, Helvetica, sans-serif;
  }
}
body {
  color: #666666;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #666666;
}
.bw {
  background: #fff;
}
.bar-b {
  padding-bottom: 50px;
}
.vm {
  display: inline-block;
  vertical-align: middle;
}
.head-msg {
  float: right;
  margin-top: 10px;
}
.mui-bar {
  background: #33c354;
}
.mui-bar .mui-title {
  color: #fff;
}
.mui-bar .mui-icon {
  color: #fff;
}
.mui-bar-nav.mui-bar .mui-icon-plusempty {
  font-size: 35px;
  padding-top: 5px;
  padding-right: 5px;
}
.mui-placeholder {
  pointer-events: none;
}
.mui-input-row .mui-placeholder {
  text-align: left;
}
input[type=search] {
  background: transparent;
}
.mui-content {
  width: 100%;
  overflow-x: hidden;
}
.blue {
  color: #4dbffe;
}
.green {
  color: #8bdb6a;
}
.red {
  color: #f06262;
}
.index-tag {
  color: #33c354;
  font-size: 0.75rem;
  margin-left: 0.3125rem;
}
.index-apply {
  position: absolute;
  right: 0.625rem;
  top: 1.25rem;
}
.index-apply .apply-box {
  margin-right: 0.625rem;
}
.index-apply .apply-box img {
  height: 1.375rem;
}
.index-apply .apply-box .mui-icon {
  font-size: 1.875rem;
}
.foot-bar {
  background: #f0f0f0;
}
.icon-b-home {
  background: url("../images/index/icon-b-home-o.png") no-repeat center;
  background-size: auto 1.5rem;
}
.icon-b-home.cur {
  background-image: url("../images/index/icon-b-home-f.png");
}
.icon-b-qd {
  background: url("../images/index/icon-b-qd-o.png") no-repeat center;
  background-size: auto 1.5rem;
}
.icon-b-qd.cur {
  background-image: url("../images/index/icon-b-qd-f.png");
}
.icon-b-qzq {
  background: url("../images/index/icon-b-qzq-o.png") no-repeat center;
  background-size: auto 1.5rem;
}
.icon-b-qzq.cur {
  background-image: url("../images/index/icon-b-qzq-f.png");
}
.icon-b-sy {
  background: url("../images/index/icon-b-sy-o.png") no-repeat center;
  background-size: auto 1.5rem;
}
.icon-b-sy.cur {
  background-image: url("../images/index/icon-b-sy-f.png");
}
.icon-time {
  background: url("../images/index/icon-time.png") no-repeat 0.75rem center #fff;
  background-size: 1.125rem auto;
}
.icon-vs {
  background: url("../images/index/icon-vs.png") no-repeat 0.625rem center #fff;
  background-size: 1.25rem auto;
}
.icon-location {
  background: url("../images/index/icon-location.png") no-repeat 0.75rem center #fff;
  background-size: 1rem auto;
}
.ml5 {
  margin-left: 0.3125rem;
}
.ml10 {
  margin-left: 0.625rem;
}
.mui-col-6 {
  column-count: 6;
  -webkit-column-count: 6;
  column-gap: 0;
  -webkit-column-gap: 0;
}
.mui-col-5 {
  column-count: 5;
  -webkit-column-count: 5;
  column-gap: 0;
  -webkit-column-gap: 0;
}
.mui-col-4 {
  column-count: 4;
  -webkit-column-count: 4;
  column-gap: 0;
  -webkit-column-gap: 0;
}
.mui-col-3 {
  column-count: 3;
  -webkit-column-count: 3;
  column-gap: 0;
  -webkit-column-gap: 0;
}
.mui-col-2 {
  column-count: 2;
  -webkit-column-count: 2;
  column-gap: 0;
  -webkit-column-gap: 0;
}
.fr {
  float: right;
}
.head-right-text {
  line-height: 2.75rem;
  color: #fff;
}
.bar-moment {
  margin: 0.5rem auto;
  text-align: center;
  width: 7.5rem;
  border: 0.0625rem #fff solid;
  border-radius: 0.375rem;
  overflow: hidden;
  font-size: 0.875rem;
  display: inline-block;
  right: 40px;
  left: 40px;
  position: absolute;
}
.bar-moment a {
  color: #fff;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  height: 1.75rem;
  line-height: 1.75rem;
}
.bar-moment a.cur {
  background: #fff;
  color: #8bdb6a;
}
.moment-box {
  position: relative;
}
.moment-box li {
  background: #fff;
  margin-bottom: 0.625rem;
}
.moment-box .m-btns {
  position: absolute;
  right: 0.9375rem;
  top: 50%;
  margin-top: -0.9375rem;
}
.moment-box .m-btns .mui-btn {
  position: static;
}
.moment-box .content {
  position: relative;
  padding: 0.625rem;
  font-size: 0.875rem;
  min-height: 5rem;
}
.moment-box .content .info {
  position: absolute;
  right: 1.875rem;
  bottom: 0.625rem;
  font-size: 0.75rem;
  color: #ccc;
}
.moment-box .content .info span {
  margin-left: 0.625rem;
}
.moment-box .content .m-view {
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  color: #8bdb6a;
}
.moment-box .btn-list {
  padding: 0.625rem;
  border-top: 0.0625rem #eee solid;
  font-size: 0.875rem;
}
.moment-box .btn-list .mui-icon {
  font-size: 1.25rem;
  color: #8bdb6a;
}
.moment-box .commons {
  border-top: 0.0625rem #eee solid;
  padding: 0.3125rem 0.625rem;
  font-size: 0.875rem;
}
.team-a {
  padding: 0.625rem 0;
}
.team-a img {
  width: 4.375rem;
  display: block;
}
.gg {
  font-size: 0.75rem;
  color: #CCCCCC;
}
.add-box {
  padding: 0.625rem;
}
.add-box textarea {
  background: #eee;
  padding: 0.625rem;
  width: 100%;
  min-height: 6.25rem;
  border: none;
}
.upload-box .uimg-box {
  display: inline-block;
  vertical-align: top;
}
.upload-box .uimg-box .preDiv {
  display: inline-flex;
  display: -webkit-inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 5.625rem;
  height: 5.625rem;
  margin-bottom: 0.625rem;
  margin-right: 0.625rem;
}
.upload-box .uimg-box .preDiv img {
  max-width: 5.625rem;
}
.upload-box .upload-btn {
  display: inline-block;
  vertical-align: top;
  height: 5.625rem;
  width: 5.625rem;
  border: 0.1875rem #ccc dotted;
  position: relative;
  overflow: hidden;
  font-size: 0.75rem;
  color: #8bdb6a;
}
.upload-box .upload-btn .mui-icon {
  font-size: 3.75rem;
  display: block;
}
.upload-box .upload-btn input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.bottom-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.625rem;
}
