@w:                   #fff;
@b:                   #000;
@base-color:          #33c354;
@border:              #cccccc;
@title:               #333333;
@green:               #8bdb6a;
@blue:                #4dbffe;
@red:                 #f06262;
@y:                   #fbcf01;
@cc:                  #666666;

@font-family:         Helvetica Neue,Helvetica,Tahoma,STHeiti,Microsoft YaHei, Arial, Helvetica, sans-serif;
@num-family:          Arial;

@base-border-radius:  .2rem;
@xem:                 0.0625rem;
@px:                  1px;
@split:               20;
@rotate:              1deg;